bcrypt==5.0.0
bidict==0.23.1
blinker==1.8.2
click==8.1.8
dnspython==2.6.1
eventlet==0.39.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
geographiclib==2.1
geopy==2.4.1
greenlet==3.1.1
gunicorn==23.0.0
h11==0.16.0
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
packaging==25.0
python-engineio==4.12.3
python-socketio==5.14.1
simple-websocket==1.1.0
SQLAlchemy==2.0.43
typing_extensions==4.13.2
Werkzeug==3.0.6
wsproto==1.2.0
zipp==3.20.2
